@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background-color: #1f1f1f;    
    font-family: 'Poppins', sans-serif;      
}

input:focus {
  outline: none; 
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(16, 16, 16, 0.392);
    z-index: 10;
}

.cabecalho-imagem{
    width: 100px;
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-item{
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    transition: transform 0.3s;
}

.cabecalho-menu-item:hover{
    transform: scale(1.05);
}

.conteudo{
    margin-bottom: 45px;
    min-height: calc(100vh - 120px);
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.titulo-serie-principal{
    width: 400px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-escrito-titulo{
    font-weight: 400;
    font-size: 50px;
    color: #FFF2e7;
}

.conteudo-principal-escrito-subtitulo{
    font-weight: 400;
    font-size: 20px;
    color: #ecd6c4;
}

.conteudo-principal-escrito-botao{
    width: 180px;
    height: 60px;
    background-color: #ecd6c4;
    border-radius: 14px;
    font-weight: 800;
    font-size: 20px;
    color: #85584e;
}

.conteudo-principal-imagem{
    height: 400px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2e7;
    padding-top: 30px;
    font-weight: 400;
    font-size: 25px;
    color: #FFF2e7;
}

.conteudo-secundario-paragrafo{
    font-weight: 400;
    font-size: 20px;
    color: #ecd6c4;
}

.destaque-lista {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px;
    color: white;
}

.titulo-lista{
    font-weight: 600;
    font-size: 50px;
    color: #FFF2e7;
}

.paragrafo-lista{
    font-weight: 400;
    font-size: 20px;
    color: #ecd6c4;
}
.destaque-lista .descricao {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 20px;
}

.botoes button {
    margin-right: 15px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao-assistir {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.botao-info {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    font-weight: bold;
}

.container-seta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.catalogo-lista {
    padding: 40px 40px;
}

.catalogo h2 {
    color: white;
    margin-bottom: 15px;
}

.filme-cards {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
}


.series-cards {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
}

.card-streaming {
    min-width: 400px;
    max-width: 200px;
    background-color: #0c0c0c;
    word-wrap: break-word;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card-streaming:hover {
    transform: scale(1.05);
}

.card-streaming img {
   border-radius: 20px;
   max-height: 300px;
   object-fit: cover;
}

.card-streaming p {
    color: #bcbcbc;
}

.botao-add{
    margin-right: 15px;
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: transform 0.3s;
    margin-top: 20px;
}

.botao-add:hover{
    transform: scale(1.05);
}

.required::after {
  content: " *";
  color: #dc2626;
  font-weight: bold;
}

.button-cancelar{
     margin-right: 15px;
    padding: 7px 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #464646cf;
    color: #fff;
    font-weight: bold;
    transition: transform 0.3s;
    margin-top: 20px;
}

.button-salvar, .excluir-streaming, .editar-streaming{
    margin-right: 15px;
    padding: 7px 20px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    color: #000;
    font-weight: bold;
    transition: transform 0.3s;
    margin-top: 20px;
}

.modal-cadastro-streaming, .modal-edicao-streaming{
    background-color: #333;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    min-width: 500px;
    min-height: 300px;
    border-radius: 20px;
    display: none;
    z-index: 1000;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 999;
}

.input{
    background-color: #1d1d1d;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 15px;
    width: 100%;
    box-sizing: border-box;
}

.input::placeholder {
  color: #b8b8b8;    
  font-family: 'Poppins', sans-serif; 
  font-size: 14px;   

}