.input-pesquisa{
  
    background-color: #323232;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 15px;
    width: 50%;
    box-sizing: border-box;

}

.input-pesquisa::placeholder{
    color: rgb(202, 202, 202);
    font-family: 'Poppins';
    font-size: 14px;
}


.catalogo-lista-pesquisar {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 50vh;
}

@media screen and (max-width: 768px) {
    .input-pesquisa{
        width: 100%;
    }
}